.hp-img-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.media-hp {
    z-index: -2;
}

#homepage-img {
    z-index: -1;
}

.nav-item {
    margin-right: 35px;
}

.homeInfo {
    margin-right: auto;
    margin-left: auto;
}

.player-cards {
    margin-top: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    margin-top: 90px;
    height: 270px;
}

.card-body {
    padding: 0;
}

.card-text {
    text-align: center;
}

.player {
    border: none;
}

.names {
    text-align: center;
    padding: 5px;
}

button {
    border-radius: 18px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color:#bf4b4b;
    color: white;
    font-size: 10px;
}

#playersButton {
    text-align: center;
}

h6 {
    margin-bottom: 0;
}

.card-title {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 10px;
}

#meetThePlayers {
    padding-top: 30px;
}

#howInfo {
    text-align: center;
    padding: 30px;
}

.PromoBoxedThumb {
    border: solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.howItWorksImg {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.carousel-item{
    height: 600px;
} 

.carousel-item img{
    height: 600px;
}

.TPCLOGO {
    height: 40px !important;
    border-radius: 10px;
    opacity: 60%;
}

.courseTitle {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.courseHeader {
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

#deereRunInfo {
    border: solid;
    margin-top: 15px;
}

.byronImg {
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

#byronHills {
    border: solid;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* accomodations */
#houseTitle{
    text-align: center;
    margin-bottom: 15px;
}

.houseImg{
    width: auto;
    margin-bottom: 15px;
}

#directions{
    border: solid;
    margin: 5px;
    padding: 5px;
}

#houseDetails{
    margin: 10px;
}

.houseHeadings {
    text-decoration: underline;
}

/* about page */

#aboutSection{
    border: solid;
    background-color: rgba(255, 255, 255, 0.516);
    top: 25em;
    left: 8em;
    text-align: center;
    margin-top: 250px;
}

#aboutField {
    background-image: url("./assets/aboutimg.jpg");
  /* Background image is centered vertically and horizontally at all times */
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

#aboutInfo{
    text-align: center;
}

@media (min-width: 991px) {
    .navbar {
        height: 110px;
    }
    .playersImg {
        height: 325px;
    }
    .homepagePlayers {
        height: 325px;
    }
} 

@media (max-width: 450px) {
    .hp-img-title {
        font-size: 20px;
    }
    #playersPage {
        width: 100%;
    }
    .homepagePlayers {
        height: 195px;
    }
    .playersImg {
        height: 270px;
    }
    .carousel-item{
        height: 250px;
    } 
    .carousel-item img{
        height: 250px;
    }
    iframe{
        width: 345px;
    }
    #videos{
        text-align: center;
    }
    #byronPics {
        text-align: center;
    }
    .byronImg{
        width: 345px;
    }
    .brand {
        height: 140px;
    }
    #houseDetails{
        display: block;
    }
    #aboutField{
        height: 100%;
    }
    #aboutSection{
        margin-top: 150px;
    }
}
