.hp-img-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.media-hp {
    z-index: -2;
}

#homepage-img {
    z-index: -1;
}

.nav-item {
    margin-right: 35px;
}

.homeInfo {
    margin-right: auto;
    margin-left: auto;
}

.player-cards {
    margin-top: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    margin-top: 90px;
    height: 270px;
}

.card-body {
    padding: 0;
}

.card-text {
    text-align: center;
}

/* .playersImg {
    height: 300px;
} */

.player {
    border: none;
}

.names {
    text-align: center;
    padding: 5px;
}

button {
    border-radius: 18px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color:#bf4b4b;
    color: white;
    font-size: 10px;
}

#playersButton {
    text-align: center;
}

h6 {
    margin-bottom: 0;
}

.card-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 10px;
}

#meetThePlayers {
    padding-top: 30px;
}

#howInfo {
    text-align: center;
    padding: 30px;
}

.PromoBoxedThumb {
    border: solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.howItWorksImg {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.carousel-item{
    height: 600px;
} 

.carousel-item img{
    height: 600px;
}

@media (min-width: 991px) {
    .navbar {
        height: 110px;
    }
    .playersImg {
        height: 325px;
    }
    .homepagePlayers {
        height: 325px;
    }
} 

@media (max-width: 450px) {
    .hp-img-title {
        font-size: 20px;
    }
    #playersPage {
        width: 100%;
    }
    .homepagePlayers {
        height: 195px;
        width: 195px;
    }
    .playersImg {
        height: 270px;
    }
    .carousel-item{
        height: 250px;
    } 
    .carousel-item img{
        height: 250px;
    }
}
